* {
    box-sizing: border-box;
}

body {
    background: #061B1F;
    display: flex;
    justify-content: center;
}

.page-wrapper {
    background-color: #0F292F;
    max-width: 58.33%;
    padding-left: 30px;
    padding-right: 30px;
}

.home-content {
    background-color: #3F1328;
}

.home-nav {
    justify-content: right;
}

.home-header {
    display: flex;
    justify-content: center;
}

h1 {
    background-color: #000D10;
    color: #289C96;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.blog-header > h1 {
    font-family: 'Raleway', sans-serif;
}

.hook {
    display: flex;
    margin-bottom: -40px;
    margin-top: -60px;
    justify-content: center;
}

h2 {
    background-color: #B42964;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    max-width: 960px;
    padding: 5px;
}

p {
    background-color: #2A0718;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
}

.infographic {
    display: flex;
    justify-content: center;
}

.PSA {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.infographic{
    border-top: 100px;
    margin-top: -20px;
    Padding-top: 20px;
}

img {
    background-color: black;
    max-width: 98%;
    padding: 5px;
}

video {
    background-color: black;
    max-width: 92%;
    justify-content: center;
    padding: 5px;
}