body {
    background: #061B1F;
    display: flex !important;
    justify-content: center !important;
    visibility: visible !important;
    opacity: 1;
}

* {
    box-sizing: border-box;
}

.page-wrapper {
    background-color: #0F292F;
    width: 58.33%;
}

.content {
    background-color:#04716D;
}

nav {
    background-color: #061B1F;
    display: flex;
    justify-content: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

button {
    background:#061B1F;
    border: none;
    border-right: 2px solid #75D0CC;
    color:#75D0CC;
    font-size: 20px;
    padding: 10px;
    position: sticky;
    z-index: 300;
}

button:hover {
    background:#289C98;
    color: white;
    cursor: pointer;
    z-index: 400;
}

nav > button:nth-child(3) {
    border-right: none;
}

header {
    display: flex;
    justify-content: center;
}

.not-current:focus {
    outline: none;
}

.current-page, .current-page:hover, .current-page:focus{
    background: #097A77;
    color: white;
    cursor: context-menu;
    outline: none;
}

h1 {
    background-color: #000D10;
    color: #289C96;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.hook {
    display: flex;
    margin-bottom: -40px;
    margin-top: -60px;
    justify-content: center;
}

h2 {
    background-color: #0A948F;
    color:  #061B1F;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    max-width: 960px;
    padding: 5px;
}

p {
    background-color: #035754;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    padding: 15px;
}

.mission-text {
    margin-bottom: -20px;
    margin-top: -40px;
}

.blog-text {
    margin-bottom: -20px;
    margin-top: -40px;
}

.infographic {
    display: flex;
    justify-content: center;
}

.PSA {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.infographic{
    border-top: 100px;
    margin-top: -20px;
    Padding-top: 20px;
}

img {
    background-color: #000D10;
    max-width: 98%;
    padding: 4px;
}

video {
    background-color: #000D10;
    width: 98%;
    max-width: 960px;
    justify-content: center;
    padding: 4px;
}

footer {
    background: #061B1F;
}

footer > p {
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(12px + 0.5vw);
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgba(117, 208, 204, 0.75);
}

@media only screen and (max-width: 900px) {

    .home-page {
        margin-left: 8px;
    }

    .page-wrapper {
        width: 100%;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    button {
        font-size: calc(12px + 0vw);
        text-align: center;
        width: 33.33%;
    }

    h1 {
        font-size: calc(12px + 6vw);
        margin-bottom: 60px;
        margin-top: 20px;
    }

    h2 {
        font-size: calc(12px + 3vw);
        margin-bottom: 60px;
    }

    p {
        font-size:calc(12px + 1vw)
    }

}